# Dependency directories
node_modules/

# Build and distribution folders
dist/
packaged/

# System-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*